.ul {
  margin-top: 30px;
  list-style: none;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  border-radius: 3px;
  justify-content: center;
  padding: 0 20px;
  
}

.li {
  overflow: hidden;
  width: calc((100% - 30px) / 3);
  height: 350px;
  object-fit: cover;
}